Body {
    background-color: #dddddd;
    
}

header {
    background-color:#4aaaa5 ;
    padding: 20px 10px ;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    width: 11%;
    top: 0%;
    position: relative;
    
    
    


}
nav {
    right: 100%;

}

section {
    background-color: #dddddd;
    width: 960px;
}
h1 {
    background-color: white;
    color: #4aaaa5;
    top: 20%;
    margin: 60px 10px;
    padding: 50px 20px;
    font-weight: normal;

}
hr {
    color: #777777;
}

p {
    font-family: Arial, Helvetica, sans-serif ;
    color: #777777;
    font-size: small;
}


a {
    align-self: right;
    color: #666666;

    
}

footer {
    background-color: #666666;
}