Body {
    background-color: #dddddd;
    
}

header {
    background-color:#4aaaa5 ;
    padding: 20px 10px ;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    width: 11%;
    top: 0%;
    
    
    


}
nav {
    right: 100%;
}
h1 {
    background-color: white;
    color: #4aaaa5;
    top: 20%;

}

a {
    align-self: right;
    color: #666666;

    
}

footer {
    background-color: #666666;
}